*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    
    --font--family-logo:"Leckerli One", serif;
    --font-family-baloo:"Baloo 2", serif;
    --font-family-open:"Open Sans", serif;

    --text-logo: 400 2.5rem/auto var(--font--family-logo);
    --text-heading-md: 700 1.75rem/auto var(--font-family-baloo);
    --text-heading-sm: 700 1.125rem/auto var(--font-family-baloo);
    --text-body-md: 400 1rem/auto var(--font-family-open);
    --text-body-sm: 400 .875rem/auto var(--font-family-open);
    --text-body-xs: 400 0.75rem/auto var(--font-family-open);
    

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;
    --danger:#FF5959;

    --input-base:#1C1F21;
    --input-stroke:#363B40;
    --input-placeholder:#869198;

    --shape-background: #131516; 
    --shape-body: #212427; 
    --shape-button: #2D3136; 
    --shape-hover: #383D42; 

    --text-body:#C8CDD0;
    --text-heading:#F9F9F9;
}