#app{
    display: grid;
    justify-items: center;
    grid-template-columns: 25rem 51.25rem;
    
    width: 77.5rem;
    gap: 1.125rem;
   
}

main{
   
    overflow: auto;
    padding: 5rem 8.125rem;
    background-color: var(--shape-body);
    border-radius: 1rem;
}

aside{
    height: 45.5rem;
    overflow: hidden;
    padding: 1.25rem;
   
    
    border-radius: 1rem;
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}