.main-container{

  & h1{
    font: var(--text-heading-md);
    color: var(--text-heading);
  }
}


fieldset{
  margin: 2.5rem 0 3rem;
  border: none;
  & legend{
    margin-bottom: 1,5rem;
    display: inline-flex;
    align-items: center;
    font: var(--text-heading-sm);
    color: var(--text-heading);
    
    & img{
      margin-right: 0.75rem;
    }
    
  }
  
}

.location-event{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;

}


